<app-header></app-header>



<app-homepage></app-homepage>

<app-footer></app-footer>
<!-- <form #simpleForm="ngForm" (ngSubmit)="getValues(simpleForm.value)">
  <input type="text" ngModel placeholder="Enter your name" name="name"/>
  <br><br>
  <input type="text" ngModel placeholder="Enter your age" name="age"/>
  <br><br>
  <input type="text" ngModel placeholder="Enter your address" name="address"/>
  <button>Get User Details</button>
</form> -->



<!-- first program 
interpoation
property binding
form handling
event handling -->




<!-- <h1>{{title}}</h1>
<h1>{{name}}</h1>
<h1>{{site}}</h1>


<input type="text" (keyup)="getVal($event)" />
<h1>{{currentVal}}</h1>

<h1 *ngIf="show else elseBlock">If Block</h1>
<ng-template #elseBlock>
  <h1>Else Block</h1>
</ng-template> -->

<!-- <h1><app-user-list></app-user-list></h1>
<h1><app-login></app-login></h1> -->